<% @questions.each do |question| %>
<ul>
  <li class="index-question"><a href="/questions/<%= question.id %>"><%= question.title %></a><p class="question-details"><%= question.vote_count %> votes |
    asked by <%= question.user.username %> on <%= question.created_at.strftime("%F") %></p></li>
</ul>
<% end %>
