<% @questions.each do |question| %>
<ul>
  <li><a href="/questions/<%= question.id %>"><%= question.title %></a> <%= question.vote_count %> votes<br>
    asked by <%= question.user.username %> on <%= question.created_at.strftime("%F") %></li>
</ul>
<% end %>
