<h2><%= @question.title %></h2>
<p><%= @question.body %></p>

<ul><% @question.comments.each do |comment| %>
  <li><%= comment.body %></li>
  <% end %>
</ul>

<% if logged_in? %>
  <%= erb :'partials/_add_comment' %>
<% end %>

<h3>Answers:</h3>
<ul><% @question.answers.each do |answer| %>
  <li><%= answer.body %>
    <ul>
      <% answer.comments.each do |comment| %>
        <li><%= comment.body %></li>
      <% end %>
    </ul>

    <% if logged_in? %>
      <%= erb :'partials/_add_comment' %>
    <% end %>

  </li>
  <% end %>
</ul>

<% if logged_in? %>
  <%= erb :'partials/_add_answer' %>
<% end %>



