<% if logged_in? %>
<div class="vote-buttons" id="question">
  <p>Total votes: <%= @question.vote_count %></p>
  <form method="post" action="/questions/<%= @question.id %>/votes" class="up-vote">
    <input type="hidden" name="value" value="1">
    <input type="submit" value="Upvote">
  </form>

  <form method="post" action="/questions/<%= @question.id %>/votes" class="down-vote">
    <input type="hidden" name="value" value="-1">
    <input type="submit" value="Downvote">
  </form>

</div>
<% end %>

<h2 id="<%= @question.id %>">Question: <%= @question.title %></h2>
<p><%= @question.body %></p>

<h4>Comments:</h4>
<ul><% @question.comments.each do |comment| %>
  <li><%= comment.body %></li>
  <% end %>
</ul>

<% if logged_in? %>
  <%= erb :'partials/_add_comment' %>
<% end %>

<h3>Answers:</h3>
<ul><% @question.answers.each do |answer| %>
  <% if logged_in? %>
  <div class="vote-buttons" id="<%= answer.id %>">
    <p>Total votes: <%= answer.vote_count %></p>
    <form method="post" action="/answers/<%= answer.id %>/votes" class="up-vote" >
      <input type="hidden" name="value" value="1">
      <input type="submit" value="Upvote">
    </form>
    <form method="post" action="/answers/<%= answer.id %>/votes" class="down-vote">
      <input type="hidden" name="value" value="-1">
      <input type="submit" value = "Downvote">
    </form>

  </div>
<% end %>
  <li><%= answer.body %>
    <h4>Comments:</h4>
    <ul>
      <% answer.comments.each do |comment| %>
        <li><%= comment.body %></li>
      <% end %>
    </ul>

    <% if logged_in? %>
      <%= erb :'partials/_add_comment' %>
    <% end %>

  </li>
  <% end %>
</ul>

<% if logged_in? %>
  <%= erb :'partials/_add_answer' %>
<% end %>



