<% if logged_in? %>
<div id="vote-buttons">
  <button type="button" id="up-vote">Upvote</button>
  <button type="button" id="down-vote">Downvote</button>
</div>
<% end %>

<h2 id="<%= @question.id %>">Question: <%= @question.title %></h2>
<p><%= @question.body %></p>

<h4>Comments:</h4>
<ul><% @question.comments.each do |comment| %>
  <li><%= comment.body %></li>
  <% end %>
</ul>

<% if logged_in? %>
  <%= erb :'partials/_add_comment' %>
<% end %>

<h3>Answers:</h3>
<ul><% @question.answers.each do |answer| %>
  <li><%= answer.body %>
    <h4>Comments:</h4>
    <ul>
      <% answer.comments.each do |comment| %>
        <li><%= comment.body %></li>
      <% end %>
    </ul>

    <% if logged_in? %>
      <%= erb :'partials/_add_comment' %>
    <% end %>

  </li>
  <% end %>
</ul>

<% if logged_in? %>
  <%= erb :'partials/_add_answer' %>
<% end %>



