<p>Total votes: <%= @question.vote_count %></p>
<% if logged_in? %>
  <div class="vote-buttons" id="question">
    <form method="post" action="/questions/<%= @question.id %>/votes" class="up-vote">
      <input type="hidden" name="value" value="1">
      <input type="submit" value="Upvote">
    </form>

    <form method="post" action="/questions/<%= @question.id %>/votes" class="down-vote">
      <input type="hidden" name="value" value="-1">
      <input type="submit" value="Downvote">
    </form>

  </div>
<% end %>
<div id="please">
  <h2 id="<%= @question.id %>">Question: <%= @question.title %></h2>
  <p>posted by: <%= @question.user.username %></p>
  <p><%= @question.body %></p>

  <div class="comment-list">
    <h4>Comments:</h4>
    <ul><% @question.comments.each do |comment| %>
      <li class="comment"><%= comment.body %>
      </li>
      <p>Comment by: <%= comment.user.username %></p>
      <% end %>
    </ul>

    <% if logged_in? %>
      <form action="/questions/<%= @question.id %>/comments/new" method="post" class="new-comment-form">
        <%= erb :'partials/_add_comment' %>
      </form>
    <% end %>
  </div>

<div id="answer-list">
  <% @question.answers.each do |answer| %>
    <%= erb :"partials/_new_answer", locals: {answer: answer} %>
  <% end %>
</div>


  <div>
    <% if logged_in? %>
    <form id="new-answer" action="/questions/<%= @question.id %>/answers/new" method="post">
      <%= erb :'partials/_answer_form' %>
    </form>
    <% end %>
  </div>

</div>

