<h2><%= @question.title %></h2>
<p><%= @question.body %></p>

<div class="comment-list">
  <ul><% @question.comments.each do |comment| %>
    <li class="comment"><%= comment.body %>
    </li>
    <p>Comment by: <%= comment.user.username %></p>
    <% end %>
  </ul>
<% if logged_in? %>
  <form action="/questions/<%= @question.id %>/comments/new" method="post" class="new-comment-form">
  <%= erb :'partials/_add_comment' %>
  </form>
<% end %>
</div>


<h3>Answers:</h3>

<div id="answer-list"><% @question.answers.each do |answer| %>
  <p class="answer"><%= answer.body %>
    <p>Answer by: <%= answer.user.username %></p>
      <div class="comment-list">
        <ul>
          <% answer.comments.each do |comment| %>
            <li class="comment"><%= comment.body %></li>
            <p>Comment by: <%= comment.user.username %></p>
          <% end %>
        </ul>
        <% if logged_in? %>
          <form action="/answers/<%= answer.id %>/comments/new" method="post" class="new-comment-form">
          <%= erb :'partials/_add_comment' %>
          </form>
        <% end %>
      </div>
    </p>
  </p>
  <% end %>
</div>


<% if logged_in? %>
  <%= erb :'partials/_add_answer' %>
<% end %>




